## Q1. What is a database? Differentiate between SQL and NoSQL databases.
* A database is a systematic collection of data. They support electronic storage and manipulation of data. Databases make data management easy.
## Difference between SQL and NoSQL
1. Type – 
* SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database. 
2. Language – 
* SQL databases defines and manipulates data based structured query language (SQL). A NoSQL database has dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based or organized as a KeyValue store.
3. Structure – 
* SQL databases are table-based on the other hand NoSQL databases are either key-value pairs, document-based, graph databases or wide-column stores.
4. Property followed – 
* SQL databases follow ACID properties (Atomicity, Consistency, Isolation and Durability) whereas the NoSQL database follows the Brewers CAP theorem (Consistency, Availability and Partition tolerance). 
4. Example -
* example of sql are  MySQL, PostgreSQL, Oracle, MS-SQL Server, etc and example of nosql are MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc.
1. Create
* This command builds a new table and has a predefined syntax. The CREATE statement syntax is:

For example:

CREATE TABLE Employee (Employee Id INTEGER PRIMARY KEY, First name CHAR (50) NULL, Last name CHAR (75) NOT NULL);

* The mandatory semi-colon at the end of the statement is used to process every command before it. In this example, the string CHAR is used to specify the data type. Other data types can be DATE, NUMBER, or INTEGER.

2. Alter
* An alter command modifies an existing database table. This command can add up additional column, drop existing columns and even change the data type of columns involved in a database table.


For example:

ALTER TABLE Employee ADD PRIMARY KEY (employee_pk);

* In this example, we added a unique primary key to the table to add a constraint and enforce a unique value. The constraint “employee_pk” is a primary key and is on the Employee table.

3. Drop
* A drop command is used to delete objects such as a table, index or view. A DROP statement cannot be rolled back, so once an object is destroyed, there’s no way to recover it.


For example:

DROP TABLE Employee;

* In this example, we’re deleting the Employee table.

4. Truncate
* Similar to DROP, the TRUNCATE statement is used to quickly remove all records from a table. However, unlike DROP that completely destroys a table, TRUNCATE preserves its full structure to be reused later.

For example:

TRUNCATE TABLE Employee;

* In this example, we’re marking all the extents of the Employee table for deallocation, so they’re considered empty for reuse.

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
DML is an abbreviation of Data Manipulation Language.

The DML commands in Structured Query Language change the data present in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML commands.
1. INSERT - 
* INSERT is  most important data manipulation command in Structured Query Language, which allows users to insert data in database tables.
example of  inserting a new row data in a table - 
INSERT INTO TABLE_NAME ( column_Name1 , column_Name2 , column_Name3 , .... column_NameN )  VALUES (value_1, value_2, value_3, .... value_N ) ;
2. UPDATE - 
* UPDATE is another most important data manipulation command in Structured Query Language, which allows users to update or modify the existing data in database tables.
* Syntax- UPDATE Table_name SET [column_name1= value_1, ….., column_nameN = value_N] WHERE CONDITION;  
3. DELETE -
* DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables. This command of Data Manipulation Language does not delete the stored data permanently from the database. We use the WHERE clause with the DELETE command to select specific rows from the table.

* Syntax- DELETE FROM Table_Name WHERE condition;

## Q4. What is DQL? Explain SELECT with an example.
Data query language (DQL) is part of the base grouping of SQL sub-languages.
* SELECT:
This command helps you to select the attribute based on the condition described by the WHERE clause.

* Syntax:

SELECT expressions    
FROM TABLES    
WHERE conditions;

## Q5. Explain Primary Key and Foreign Key.
* Primary Key: 
A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 
* Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    user= "abc",
    password = "password"

)
print(mydb)
mycursor = mydb.cursor() ## A cursor is an object which helps to execute the query and fetch the records from the database. 
                         ## The cursor plays a very important role in executing the query.
mycursor.execute("SHOW DATABASES") ## The execute () method helps us to execute the query and return records according to the query.
for i in mycursor:
    print(i)

## Q7. Give the order of execution of SQL clauses in an SQL query.
Order | Clause  | Function
|-|-|-|
|1	  |FROM	    |Tables are joined to get the base data.|
|2	  |WHERE	|    he base data is filtered.|
|3	  |GROUP BY	|The filtered base data is grouped.|
|4	  |HAVING	|The grouped base data is filtered.|
|5	  |SELECT	|The final data is returned.|
|6	  |ORDER BY	|The final data is sorted.|
|7	  |LIMIT	|    The returned data is limited to row count.|